.car-info-container {
  display: flex;

  max-width: 650px;
  height: 200px;
  padding: 0 16px 0 16px;

  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;

  .car-info-image {
    height: auto;
    max-width: 250px;
    object-fit: contain;
    margin-right: 8px;
  }

  .car-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.car-info-container:hover {
  cursor: pointer;
  border-color: #368cf5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);

  transform: translateY(-4px);
  transition: all 200ms ease-in;
  transition-delay: 40ms;
}
